#pref-modal {
  overflow: hidden;
}

.preference-modal {
  -webkit-animation-name: animatetop2 !important;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop2 !important;
  animation-duration: 0.4s;
  top: 7%;
  max-width: 65% !important;
  max-height: 85% !important;
  margin-top: 0 !important;
  border-top: 15px solid var(--main-white) !important;
  border-bottom: 15px solid var(--main-white) !important;
  border-left: 4px solid var(--main-white) !important;
  border-right: 4px solid var(--main-white) !important;
  overflow-y: auto;
  overflow-x: hidden;
}

@-webkit-keyframes animatetop2 {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 7%;
    opacity: 1;
  }
}
@keyframes animatetop2 {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 7%;
    opacity: 1;
  }
}

.pref-modal-body {
  width: 95%;
  margin: 0 auto;
  /* box-sizing: border-box; /*include padding in total height */
  padding: 0 10px;
  text-align: left;
}

.pref-title {
  margin: 0;
  padding: 0 10px 10px 10px;
  border-bottom: black 1px solid;
}

.pref-subtitle {
  margin: 0;
  padding: 5px 0;
  font-size: 20px;
}

.pref-subcontent {
  padding: 0 10px;
}

.pref-modal-text {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: grey;
  padding: 5px 0;
}

.form-container {
  white-space: nowrap;
}

.inner-form-container {
  overflow-x: auto;
  padding-top: 15px;
  padding-bottom: 10px;
}

#pref-button-container {
  display: block;
  width: 100%;
  height: auto;
}

.include-pref-list {
  padding: 5px;
}

.include-pref-list ul {
  padding: 5px 0 5px 30px;
}

.include-class-checkbox,
.class-abbr-label {
  cursor: pointer;
  user-select: none;
}

.class-details-pref {
  display: grid;
  grid-template-columns: 3ch 3ch 6ch 14ch auto;
  grid-gap: 5px;
  cursor: pointer;
  user-select: none;
}

.preferences-fieldset {
  margin: 10px 0;
}

.preferences-legend {
  margin: 3px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14;
}

.preferences-radio {
  margin: 0 10px;
}

.radio-container {
  margin: 3px 0;
  width: fit-content;
}

.preference-label {
  padding-left: 10px;
}

.pref-divider {
  width: 100%;
  border-bottom: solid grey 1px;
}

.break-select {
  font-family: inherit;
  font-size: 12px;
  display: block;
  user-select: none;
  /* border: 1px solid #555; */
}

.break-select:hover {
  border-color: #555 !important;
  cursor: pointer;
}

.break-select,
.break-day-title {
  padding: 2px 6px 2px 6px;
  margin: auto;
  /* border-right: 4px solid white; */
}

.break-select:nth-child(2n + 1) {
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
}

.break-select:nth-child(2n) {
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
}

#select-all {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.break-select:nth-child(13n) {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.break-day {
  display: inline-block;
  margin-right: 10px;
}

.break-day:last-child {
  margin-right: 0;
}

.break-day-title {
  background: #d4b064;
  color: white;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /* background: #bfbfbf; */
  font-weight: bold;
}

.one-chosen {
  opacity: 0.25 !important;
  /* color: var(--main-white); */
  text-align: center;
}

.one-chosen:not(#select-all)::after {
  content: 'Break';
}

.one-chosen:not(#select-all) span {
  display: none;
}

.one-chosen:not(#select-all):hover {
  text-align: left;
}

.one-chosen:not(#select-all):hover span {
  display: inline;
}

.one-chosen:not(#select-all):hover::after {
  content: '';
}
