<div class="break-day %dayGroup%" data-day="%day%" data-day-group="%dayGroup%">
  <div class="break-day-title">%day%</div>
  <div
    class="break-select select-all"
    id="select-all"
    ondblclick="preferenceDblClickHandler(event.target);"
    onclick="selectAllForDay.bind(this)()"
  >
    <span>Select All</span>
  </div>
  <div
    class="break-select 7"
    data-hour="7"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>7am - 8am</span>
  </div>
  <div
    class="break-select 8"
    data-hour="8"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>8am - 9am</span>
  </div>
  <div
    class="break-select 9"
    data-hour="9"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>9am - 10am</span>
  </div>
  <div
    class="break-select 10"
    data-hour="10"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>10am - 11am</span>
  </div>
  <div
    class="break-select 11"
    data-hour="11"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>11am - 12pm</span>
  </div>
  <div
    class="break-select 12"
    data-hour="12"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>12pm - 1pm</span>
  </div>
  <div
    class="break-select 13"
    data-hour="13"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>1pm - 2pm</span>
  </div>
  <div
    class="break-select 14"
    data-hour="14"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>2pm - 3pm</span>
  </div>
  <div
    class="break-select 15"
    data-hour="15"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>3pm - 4pm</span>
  </div>
  <div
    class="break-select 16"
    data-hour="16"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>4pm - 5pm</span>
  </div>
  <div
    class="break-select 17"
    data-hour="17"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>5pm - 6pm</span>
  </div>
  <div
    class="break-select 18"
    data-hour="18"
    ondblclick="preferenceDblClickHandler(event.target)"
    onclick="selectHour.bind(this)()"
  >
    <span>6pm - 7pm</span>
  </div>
</div>
